@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --bg-color: #EEE5CF;
    --color1: #4A7856;
    --color2: #345830;
    --color3: #1E3F20;
    --color4: #1A1F16;
    --defaut: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--bg-color);
    height: 100%;
}

.container {
    padding: 20px 10%;
}

/* <======== NAVBAR ========> */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    list-style-type: none;
    margin-left: 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--color4);
    font-size: 24px;
}

.nav-links ul li a:hover {
    color: var(--color1);
}

/* <======== FILTER & SEARCH BAR ========> */
.filters {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.search input {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 20px;
}

.filter-dropdown button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.filter-dropdown button {
    font-size: 20px;
}

.filter-dropdown button img {
    width: 28px;
    height: auto;
    margin-left: 20px;
}

/* <======== PRODUCTS ========> */
/*     screen-width = 1920px     */

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 372px);
    gap: 1rem;
}

.product {
    height: 496px;
    width: 372px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.product img {
    width: 372px;
    height: auto;
    border-radius: 20px;
    z-index: 2;
}

.product .nombre {
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    align-self: flex-end;
    margin-bottom: 102px;
}

.product .precio {
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-end;
    margin-bottom: 72px;
}

.product .añadir-btn {
    width: 140px;
    height: 32px;

    color: white;
    border-radius: 20px;
    background-color: var(--color3);

    position: absolute;
    z-index: 3;
    font-size: 16px;

    align-self: flex-end;
    margin-bottom: 30px;
}

@media (max-width: 1366px) {
    /* <====== NAVBAR ======> */
    .logo a img  {
        width: 234px;
        height: auto;
    }

    .nav-links ul li a {
        font-size: 20px;
    }

    .search input {
        font-size: 16px;
        padding: 0 15px;
    }

    .filter-dropdown button {
        font-size: 16px;
    }

    .filter-dropdown button img {
        width: 20px;
        height: auto;
        margin-left: 10px;
    }

    .product-container {
        display: grid;
        grid-template-columns: repeat(4, 261.2px);
        gap: 1rem;
    }

    .product {
        width: 261.2px;
        height: 348.27px;
    }
}